<!--

-->
<div class="emloyee">
    <label for="employeeId" *ngIf="mode == 'Edit'">Employee Id</label>
    <input type = "text" id = "employeeId"
      [(ngModel)] = "employee.employeeId"  
      [placeholder] ="'Employee Id'" 
      [disabled] = "true" *ngIf="mode == 'Edit'">
    <br>
    
    <label for="name">Name</label>
    <input type = "text" id = "name" required 
      [(ngModel)] = "employee.name" 
      [placeholder] = "'Name'">
    <br>
    
    <label for="department">Department</label>
    <input type="text" id="department"
      [(ngModel)]="employee.department" 
      [placeholder]="'Department'">
    <br>
    
    <button (click)="save($event)">Save</button>
    <button (click)="cancel($event)">Cancel</button>
</div>
